<div class="container">
  <div class="d-flex justify-content-end mb-4">
    <i class="bi bi-plus-circle add-icon" (click)="openModal(false)"></i>
  </div>

  <!-- Search Bar -->
  <div class="searchContainer">
    <input type="text" name="searchKeyword" class="input" [(ngModel)]="searchKeyword" placeholder="Type to search..." (input)="searchProducts()" required>
    <div class="icon">
      <i class="bi bi-search"></i>
    </div>
</div>

  <div class="row">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let product of products">
      <div class="card mb-4">
        <img [src]="getImageUrl(product.imgUrl)" class="card-img-top" (click)="selectProduct(product)" alt="Product Image">
        <div class="info-icon" (click)="selectProduct(product)">
          <i class="bi bi-info-circle"></i>
        </div>
        <div *ngIf="product.user">
          <p>Venduto da: {{ product.username }}</p>
          <img [src]="product.avatar" alt="{{ product.username }}" class="avatar">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for product details -->
<div *ngIf="selectedProduct" class="modal fade show" tabindex="-1" style="display: block;" aria-modal="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-between">
        <img [src]="selectedProduct.avatar" alt="avatar" class="avatar">
        <strong class="text-white fs-2">{{ "@" + selectedProduct.username }}</strong>
        <i type="button" class="bi bi-x fs-1 add-icon" (click)="closeProductDetails()"></i>
      </div>
      <div class="modal-body">
        <div *ngIf="selectedProduct.imgUrl && selectedProduct.imgUrl.length > 0">
          <div class="slider-container">
            <i class="bi bi-chevron-left slider-icon prev" (click)="prevSlide()" *ngIf="currentIndex > 0"></i>
            <div class="imgContainer">
              <img [src]="selectedProduct.imgUrl[currentIndex]" class="imgSettSlider" alt="Product Image">
            </div>
            <i class="bi bi-chevron-right slider-icon next" (click)="nextSlide()" *ngIf="currentIndex < selectedProduct.imgUrl.length - 1"></i>
          </div>
        </div>
        <p class="text-white fs-2"><strong>{{selectedProduct.nomeProdotto}}</strong></p>
        <p class="text-white fs-5"><strong class="fs-4">Dettagli: <br>
        </strong>{{ selectedProduct.descrizioneProdotto }}</p>
        <p class="text-white fs-3"><strong class="fs-4">Prezzo:</strong> {{ selectedProduct.prezzo }} €</p>
        <p class="text-white fs-3"><strong class="fs-4">Categoria:</strong> {{ selectedProduct.categoria[0]?.nomeCategoria }}</p>
        <div class="action-icons">
          <i class="bi bi-pencil-square" (click)="editProduct(selectedProduct)"></i>
          <i class="bi bi-trash" (click)="deleteProduct(selectedProduct.id)"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for creating or editing a product -->
<div *ngIf="showModal" class="modal fade show modal-product" tabindex="-1" style="display: block;" aria-modal="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form" [formGroup]="productForm" (ngSubmit)="onSubmit()">
          <div class="d-flex justify-content-between">
            <p class="title m-0 px-4">{{ isEditing ? 'Modifica Prodotto' : 'Nuovo Prodotto' }}</p>
            <i type="button" class="bi bi-x fs-2" (click)="closeModal()"></i>
          </div>
          <div>
            <p class="message">{{ isEditing ? 'Modifica i dettagli del prodotto' : 'Inserisci i dettagli del prodotto' }}</p>
          </div>

          <label>
            <input type="text" formControlName="nomeProdotto" class="input" required />
            <span>Nome Prodotto</span>
            <div *ngIf="submitted && f['nomeProdotto'].errors" class="invalid-feedback">
              <div *ngIf="f['nomeProdotto'].errors['required']">Nome Prodotto is required</div>
            </div>
          </label>

          <label>
            <textarea formControlName="descrizioneProdotto" class="input" required></textarea>
            <span>Descrizione Prodotto</span>
            <div *ngIf="submitted && f['descrizioneProdotto'].errors" class="invalid-feedback">
              <div *ngIf="f['descrizioneProdotto'].errors['required']">Descrizione Prodotto is required</div>
            </div>
          </label>

          <label>
            <input type="number" formControlName="prezzo" class="input" required />
            <span>Prezzo</span>
            <div *ngIf="submitted && f['prezzo'].errors" class="invalid-feedback">
              <div *ngIf="f['prezzo'].errors['required']">Prezzo is required</div>
            </div>
          </label>

          <label>
            <select formControlName="nomeCategoria" class="input" required>
              <option *ngFor="let categoria of categories" [value]="categoria.nomeCategoria">{{ categoria.nomeCategoria }}</option>
            </select>
            <span>Nome Categoria</span>
            <div *ngIf="submitted && f['nomeCategoria'].errors" class="invalid-feedback">
              <div *ngIf="f['nomeCategoria'].errors['required']">Nome Categoria is required</div>
            </div>
          </label>

          <label class="custom-file-upload">
            <input type="file" id="file" (change)="onFileChange($event)" class="input-file" multiple [required]="!isEditing" />
            Scegli file
          </label>
          <span id="file-chosen">Nessun file selezionato</span>

          <button type="submit" class="submit">{{ isEditing ? 'Modifica Prodotto' : 'Inserisci Prodotto' }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
