.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 1em;
  background: #d61b1b;
  border-radius: 5px;
}

h2 {
  text-align: center;
  margin-bottom: 1em;
}

.form-group {
  margin-bottom: 1em;
}

.invalid-feedback {
  color: red;
  font-size: 0.8em;
}

.alert {
  text-align: center;
}
