.modal {
  transition: opacity 0.3s ease-in-out;
  &.fade {
    opacity: 0;
    &.show {
      opacity: 1;
    }
  }
}

.modal-custom {
  background-color: red; /* Sfondo rosso */
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}

@media (max-width: 576px) {
  .modal-fullscreen-sm-down {
    max-width: 100%;
    margin: 0;
  }
}
