<div *ngIf="authService.getCurrentUser()">
  <button class="btn btn-primary" (click)="openModal()">
    Create Post
  </button>
</div>

<div class="modal" [ngClass]="{'show': isModalOpen, 'fade': true}" tabindex="-1" [ngStyle]="{'display': isModalOpen ? 'block' : 'none'}">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-fullscreen-sm-down">
    <div class="modal-content modal-custom">
      <div class="modal-header">
        <h5 class="modal-title">Create Post</h5>
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="titolo" class="form-label">Title</label>
            <input type="text" id="titolo" class="form-control" formControlName="titolo" />
            <div *ngIf="submitted && f['titolo'].errors" class="invalid-feedback">
              <div *ngIf="f['titolo'].errors['required']">Title is required</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="descrizione" class="form-label">Description</label>
            <textarea id="descrizione" class="form-control" formControlName="descrizione"></textarea>
            <div *ngIf="submitted && f['descrizione'].errors" class="invalid-feedback">
              <div *ngIf="f['descrizione'].errors['required']">Description is required</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="file" class="form-label">Image File</label>
            <input type="file" id="file" class="form-control" (change)="onFileChange($event)" />
          </div>
          <button type="submit" class="btn btn-primary">Create Post</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="posts">
  <div *ngFor="let post of posts" class="post">
    <h2>{{ post.titolo }}</h2>
    <p>{{ post.descrizione }}</p>
    <img [src]="getImgUrl(post.imgUrl)" alt="{{ post.titolo }}">
    <p>Posted by: {{ post.username }}</p>
  </div>
</div>

