<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between p-3 mb-4">
  <div class="col-md-4 mb-2 mb-md-0">
    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
      <p class="title1">GEARGRAM</p>
    </a>
  </div>

  <div class="nav col-md-4 col-md-auto mb-2 justify-content-center mb-md-0">
      <a routerLink="/homepage" class="settA px-2">Home</a>
      <a routerLink="/market" class="settA px-2">Market</a>
  </div>
  <div class="nav col-md-4 mb-2 justify-content-end mb-md-0">
    <a routerLink="/auth/register" class="settA px-2">Registrati</a>
    <a routerLink="/auth/login" class="settA px-2">Login</a>
    <a routerLink="/profilo" class="settA px-2">Profilo</a>
    <a routerLink="/auth/login" class="settA px-2">Logout</a>
  </div>

</header>
